<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin@terminal</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
       body {
            font-family: 'Poppins', sans-serif;
        }
    </style>
  </head>
  <body class="bg-white">
    <div class="container mx-auto p-0">
      <div class="grid grid-cols-1 md:grid-cols-5 gap-0">
        <!-- Left Sidebar -->
        <div
          class="col-span-1 md:col-span-1 h-full bg-white rounded-md shadow-md"
        >
          <!-- Left Sidebar Upper Section -->
          <div class="p-4 h-60 w-full">
            <h1 class="text-slate-800 font-bold text-sm text-center">
              Admin Window
            </h1>
            <h1
              class="text-zinc-800 md:text-md text-sm font-bold text-md text-center"
            >
              domain: prayaasngo@gmail.com
            </h1>
          </div>
          <!-- Left Sidebar Upper Section -->

          <!-- Left Sidebar Bottom Section -->
          <div class="p-4 h-fit hidden md:block mb-20">
            <ul class="space-y-2 text-slate-700 text-sm">
              <li
                class="border-b rounded-lg pl-2 border-400 cursor-pointer pt-2 pb-2 bg-indigo-100 font-bold"
              >
                <a href="http://localhost:8000/prayaas/admin">Dashboard</a>
              </li>
              <li
                class="border-b rounded-lg pl-2 border-gray-400 cursor-pointer pt-2 pb-2 hover:bg-indigo-100 font-semibold"
              >
                <a href="http://localhost:8000/prayaas/usersInfo"
                  >User Management</a
                >
              </li>
              <li
                class="border-b hover:rounded-lg pl-2 border-gray-400 cursor-pointer pt-2 pb-2 hover:bg-indigo-100 font-semibold"
              >
                Donation Management
              </li>
              <li
                class="border-b hover:rounded-lg pl-2 border-gray-400 cursor-pointer pt-2 pb-2 hover:bg-indigo-100 font-semibold"
              >
              <a href="http://localhost:8000/prayaas/request_window">
                Request Window
              </a>
              </li>
            </ul>
          </div>
          <!-- Left Sidebar Bottom Section -->

          <!-- Login and Logout Section -->
          <div class="p-4 text-sm font-bold hidden md:block">
            <ul class="space-y-2 text-slate-700">
              <li class="border-b border-gray-400 pl-2 pt-2 hover:rounded-lg hover:bg-indigo-100 pb-2">
                <a href="http://localhost:8000/prayaas/home">Logout</a>
              </li>
            </ul>
          </div>
          <!-- Login and Logout Section -->
        </div>
        <!-- Left Sidebar -->

        <!-- Main Window -->
        <div
          class="col-span-1 md:col-span-4 h-screen bg-white rounded-md shadow-md overflow-auto"
        >
          <!-- Top Navbar -->
          <div
            class="bg-white h-16 flex justify-center items-center border border-b-2"
          >
            <h1 class="text-slate-900 font-semibold">
              PRAYAAS-NGO-ADMIN_TERMINAL <span>&copy;</span>2024 ALL RIGHTS
              RESERVED
            </h1>
          </div>
          <!-- Top Navbar -->

          <!-- Right Bottom Section -->
          <div class="bg-white p-4 row1cards">
            <div
              class="w-full gap-5 flex flex-wrap justify-center items-center"
            >
              <!-- Card 1 -->
              <div
                class="bg-slate-100 rounded-md shadow-md border md:w-3/12 w-3/12 border-slate-100 cardback p-4"
              >
                <h1 class="text-slate-700 font-bold text-left">
                  Donations Received
                </h1>
                <h1 class="text-zinc-800 text-2xl font-bold text-left mt-2">
                  Rs. <span class="text-red-500"><%= tfr|| 0 %></span>
                </h1>
              </div>
              <!-- Card 1 -->

              <!-- Card 2 -->
              <div
                class="bg-slate-100 rounded-md shadow-md border md:w-2/12 w-3/12 border-slate-100 cardback1 p-4"
              >
                <h1 class="text-slate-700 font-bold text-left">
                  Donation Paid
                </h1>
                <h1 class="text-zinc-800 text-2xl font-bold text-left mt-2">
                  Rs. 0
                </h1>
              </div>
              <!-- Card 2 -->

              <!-- Card 3 -->
              <div
                class="bg-slate-100 rounded-md shadow-md border border-slate-100 md:w-2/12 w-3/12 card3 p-4"
              >
                <h1 class="text-slate-700 font-bold text-left">
                  Items <span class="text-slate-700">Received</span>
                </h1>
                <h1 class="text-red-500 font-bold text-2xl text-left mt-2">
                  <span class="text-slate-800">Items: </span><%= tid || 0 %>
                </h1>
              </div>
              <!-- Card 3 -->
              <!-- Card 7 -->
              <div
                class="bg-slate-100 rounded-md shadow-md border border-slate-100 md:w-3/12 w-3/12 card3 p-4"
              >
                <h1 class="text-slate-700 font-bold text-left">
                  xxxxxxxxx <span class="text-slate-700">xxxxxxxxx</span>
                </h1>
                <h1 class="text-red-500 font-bold text-3xl text-left mt-2">
                  <span class="text-slate-800"></span><%= "0" || 0 %>
                </h1>
              </div>
              <!-- Card 7 -->
              <!-- Card 4 -->
              <div
                class="bg-slate-100 rounded-md shadow-md border border-slate-100 md:w-3/12 w-3/12 card3 p-4"
              >
                <h1 class="text-slate-700 font-bold text-left">
                  Organisation <span class="text-slate-700">Registered</span>
                </h1>
                <h1 class="text-red-500 font-bold text-3xl text-left mt-2">
                  <span class="text-slate-800"></span><%= toc || 0 %>
                </h1>
              </div>
              <!-- Card 4 -->
              <!-- Card 5 -->
              <div
                class="bg-slate-100 rounded-md shadow-md border border-slate-100 md:w-3/12 w-3/12 card3 p-4"
              >
                <h1 class="text-slate-700 font-bold text-left">
                  Individual <span class="text-slate-700">Registered</span>
                </h1>
                <h1 class="text-red-500 font-bold text-3xl text-left mt-2">
                  <span class="text-slate-800"></span><%= tic || 0 %>
                </h1>
              </div>
              <!-- Card 5 -->
              <!-- Card 6 -->
              <div
                class="bg-slate-100 rounded-md shadow-md border border-slate-100 md:w-3/12 w-3/12 card3 p-4"
              >
                <h1 class="text-slate-700 font-bold text-left">
                  xxxxxxxxx <span class="text-slate-700">xxxxxxxxx</span>
                </h1>
                <h1 class="text-red-500 font-bold text-3xl text-left mt-2">
                  <span class="text-slate-800"></span><%= "Value" || 0 %>
                </h1>
              </div>
              <!-- Card 6 -->
              
            </div>
          </div>
          <div class="w-full h-full">
            <!-- heading -->
            <div class="w-full ml-10 mt-10 mb-20">
              <h1 class="font-semibold text-slate-800">Graphs Statistics</h1>
            </div>
            <!-- heading -->
            <!-- Graph-Window -->
            <div class="w-full h-fit flex flex-col gap-5 justify-center items-center">
              <div class="w-11/12 h-96 bg-zinc-100 border border-400 rounded-lg"></div>
              <div class="w-11/12 h-96 flex justify-center gap-10 items-center">
                <div class="w-4/5 h-full bg-zinc-100 border border-400 rounded-lg">ss</div>
                <div class="w-4/5 h-full bg-zinc-100 border border-400 rounded-lg">ss</div>
              </div>
              <div class="w-11/12 h-96 bg-zinc-100 border border-400 rounded-lg"></div>
            </div>
            <!-- Graph-Window -->
          </div>
          <!-- Right Bottom Section -->
        </div>
        <!-- Main Window -->
      </div>
    </div>

    <script>
      const row1cards = document.querySelector(".row1cards");
      const row2cards = document.querySelector(".row2cards");
      const row3cards = document.querySelector(".row3cards");
      const individual = document.querySelector(".individual");
      const organisation = document.querySelector(".organisation");
      const org_funded = document.querySelector(".org_funded");

      individual.addEventListener("click", () => {
        row1cards.setAttribute("hidden", "true");
        row3cards.setAttribute("hidden", "true");
        organisation.setAttribute("hidden", "true");
        org_funded.setAttribute("hidden", "true");
      });
    </script>
  </body>
</html>
